.heading {
  width: 100%;
  margin: 0px;
  box-shadow: 5px 5px 5px grey;
  font-size: 25px;
}

.heading_div {
  background: white;
  border-radius: 20px;
  color: black;
  box-shadow: 5px 5px 5px grey;
  float: none;
  padding: 10px; 
}

.heading_div2 {
  font-size: 18px;
}

.result_para_tag {
  box-shadow: 5px 5px 5px grey;
  font-size: 20px;
  white-space: pre-line;
}

.copy_right_footer {
  width: 100%;
  line-height: 3;
  background-color: black;
  color: white;
  bottom: 0;
  text-align: center;
  position: fixed;
}

canvas {
  border: black solid 3px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 160px;
}